{{ define "create" }}
{{ template "head" }}



<div class="card">
    <div class="card-header">
      Create Employee
    </div>


    <div class="card-body">
      <div class="container">
       <form method="post" action="/insert">
          
          <div class="form-group">
            <div class="form-group col-md-4">
              <label for="inputPassword4">Name</label>
              <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <div class="form-group col-md-4">
              <label for="inputAddress">Email</label>
              <input type="text" class="form-control" id="inputEmail" name="inputEmail"  placeholder="name@name">
            </div>
          </div>

          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-success"> Create new employee </button>
            <a name="" id="" class="btn btn-primary" href="/" role="button">Back to index</a>
          </div>
        </form>
      </div>
    </div>
</div>



{{ template "footer" }}
{{ end }}